# Importing Libraries

In [53]:
import requests
import csv
import pandas as pd
from bs4 import BeautifulSoup
import random

# Getting the URL to Scrap

In [54]:
url = "https://www.flipkart.com/search?q=mobile&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page="

# Scrapping

### Iterating through 15 pages of the website and scrapping the data about the smartphones in all the Pages

In [55]:
phodict ={"Name":[],
"ROM(GB)":[],
"RAM(GB)":[],
"Ratings":[],
"Price":[]} # Dictionary to store the data
for i in range(1,15):
    page = url+str(i)
    #print(page)
    response = requests.get(page)
    soup = BeautifulSoup(response.content,"html.parser")
    main_boxs = soup.find_all("div",{"class":"_4ddWXP"})
    for box in main_boxs:
        try:
            name  = box.find("a",{"class":"s1Q9rs"}).text.strip()
            if len(name.split(","))!=2: continue
            rom = int(name.split(",")[1][:-1].replace("GB","").strip())
            ram = int(box.find("div",{"class":"_3Djpdu"}).text.replace("RAM","").replace("GB","").strip())
            rating = box.find("div",{"class":"_3LWZlK"}).text.strip()
            price = int(box.find("div",{"class":"_30jeq3"}).text.replace("₹","").replace(",","").strip())
            phodict["Name"].append(name.split(",")[0]+")")
            phodict["ROM(GB)"].append(rom)
            phodict["RAM(GB)"].append(ram)
            phodict["Ratings"].append(rating)
            phodict["Price"].append(price)
        except Exception as e:
            pass

In [56]:
# checking the dictionary created
for i in phodict.keys():
    print(i,len(phodict[i]))

Name 357
ROM(GB) 357
RAM(GB) 357
Ratings 357
Price 357

# Creating a Dataframe

In [57]:
df = pd.DataFrame(phodict)

In [58]:
df

                                    Name  ROM(GB)  RAM(GB) Ratings  Price
0              REDMI 9i (Midnight Black)       64        4     4.3   8299
1                 realme C20 (Cool Grey)       32        2     4.4   6799
2        Infinix Hot 10 (Obsidian Black)       64        4     4.4   8999
3            Infinix Hot 10 (Ocean Wave)       64        4     4.4   8999
4        Infinix Hot 10 (Moonlight Jade)       64        4     4.4   8999
..                                   ...      ...      ...     ...    ...
352            REDMI 9 Power (Fiery Red)      128        4     4.3  11999
353  SAMSUNG Galaxy F02s (Diamond Black)       64        4     4.2   9999
354            Nokia 2.4 (Charcoal Grey)       64        3       4   9999
355            REDMI 9i (Midnight Black)      128        4     4.3   9299
356              realme C3 (Frozen Blue)       32        3     4.4   8999

[357 rows x 5 columns]

# Extracting Smartphones with higher than 6 GB RAM

In [72]:
df_highram = df[df["RAM(GB)"]>=6]

In [73]:
df_highram.reset_index(inplace=True)

In [74]:
df_highram.drop("index",axis = 1,inplace = True)

# Displaying Final Dataframe

In [75]:
df_highram

                                       Name  ROM(GB)  RAM(GB) Ratings  Price
0                     POCO M3 (Power Black)       64        6     4.3  10999
1                       POCO M3 (Cool Blue)       64        6     4.3  10999
2                     POCO M3 (Power Black)      128        6     4.3  11999
3                  POCO X3 Pro (Steel Blue)      128        6     4.5  18999
4         realme Narzo 20 Pro (Black Ninja)       64        6     4.3  14999
..                                      ...      ...      ...     ...    ...
143  SAMSUNG Galaxy M42 5G (Prism Dot Gray)      128        6     4.4  22990
144             REDMI Note 10 (Frost White)      128        6     4.3  16199
145  SAMSUNG Galaxy A51 (Prism Crush Black)      128        8     4.3  22499
146           POCO M2 Pro (Out of the Blue)       64        6     4.4  13999
147           POCO M2 Pro (Out of the Blue)      128        6     4.4  15999

[148 rows x 5 columns]